.modal {
  display:block;
  position:fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index:99;
  background-color: #353A3F;
  color:lightgrey;
  width:500px;
  max-width:80%;
  padding: 10px 15px;
  max-height: 150px;
}
.modal.active {
  transform:translate(-50%, -50%) scale(1);
}

.modal-top {
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.close-button {
  cursor: pointer;
  border:none;
  outline:none;
  background:none;
  font-size: 1.5rem;
  font-weight:bold;
  padding-bottom:1.25rem;
}
.close-button:hover,
.close-button:focus {
  color: red;
}

.modal-content {
  padding: 10px, 15px;
  background-color: #353A3F;
  color:lightgrey;
  border:none;
}

.privLink {
  color: #b6caa0;
  text-decoration:underline;
}

#overlay {
  position:fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  pointer-events: none;
  transition:ease-in-out;
}

#overlay.active {
  opacity:1;
  pointer-events: all;
}