
body {
  background: #e6ebc5;

  background-color: #e6ebc5;

}

h1 {
  font-family: verdana;
}

.btn {
  background: #f8f9fa;
  border-color: #f8f9fa;
  color: #7c7d7d;
}

.logo-jumbotron {
  background-color: #87b952;
  c
}

h1{
	font-family: Verdana;
}

.shop-product-img img{
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  vertical-align: middle;
}

/* body.fade-out { */
    /* opacity: 0; */
    /* transition: none; */
/* } */
/* body { */
    /* opacity: 1; */
    /* transition: 1s opacity; */
/* } */

/* #box { */
    /* font-family: 'Playfair Display'; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
/* } */
/* #restOfPage{ */
    /* display: none; */
/* } */
/* } */
/* #fade { */
    /* height:100vh; */
    /* background-color: black; */
/* } */
.btn{
  background: #b6caa0;
  border-color: #b6caa0;
  color: #555555;
}

.btn:hover{
  background: #839272;
  border-color: #839272 ;
  color: #555555;
}


.btn:active{
  background: #522A27;
  border-color: #522A27;
  color: #555555;
}

.jumbotron{
  background: #87b952;
  color:#353A3F;
}

h1{
	font-family: Verdana;
}

/* body.fade-out { */
    /* opacity: 0; */
    /* transition: none; */
/* } */
/* body { */
    /* opacity: 1; */
    /* transition: 1s opacity; */
/* } */

/* #box { */
    /* font-family: 'Playfair Display'; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
/* } */
/* #restOfPage{ */
    /* display: none; */
/* } */
/* } */
/* #fade { */
    /* height:100vh; */
    /* background-color: black; */
/* } */


.navbar-custom{
  font-family: Arial, Helvetica, sans-serif;
  color: #522A27;
  background-color: #E5ECC1;
}
