body {
  background: #e6ebc5;
  background-color: #e6ebc5;
}

h1 {
  font-family: verdana;
}

.btn {
  background: #f8f9fa;
  border-color: #f8f9fa;
  color: #7c7d7d;
}

.logo-jumbotron {
  background-color: #87b952;
}

h1{
	font-family: Verdana;
}

.shop-product-img img{
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  vertical-align: middle;
}

.btn{
  background: #b6caa0;
  border-color: #b6caa0;
  color: #555555;
}

.btn:hover{
  background: #839272;
  border-color: #839272 ;
  color: #555555;
}

.btn:active{
  background: #522A27;
  border-color: #522A27;
  color: #555555;
}

.jumbotron{
  background: #87b952;
  color:#353A3F;
}

h1{
	font-family: Verdana;
}

.filter-div {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.filter-list {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.filter-list li {
  padding: 1rem;
  display: block;
  text-align: center;
}

@media (max-width:500px) {
  .home-page-image {
    max-width: 300px;
    width:300px;
  }
}

.form-outline {
  margin:0;
  padding:0;
  display: flex;
  align-items:center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
