{
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-image: url('../images/about_us.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

#about {
  font-family: Verdana;
  text-shadow: 1.5px -1px #ffffff;
}

.btn-whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.btn-twitter {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}

.btn-facebook {
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-pinterest {
  background-color: #BD081C;
  border-color: #BD081C;
}

.btn-secondary {
  background: #f8f9fa;
  border-color: #f8f9fa;
  color: #7c7d7d;
}

a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background: #848383;
  border-color: #000000;
  color: white;
}

label {
  font-family: Verdana;
  font-size: 22px;
  text-shadow: 1.5px -1px #ffffff;
}

body {
  background: #f8f9fa;
  background-color: #f8f9fa color: black;

.btn:hover{
  background: #848383;
  border-color: #000000;
  color: white;
  }
label{
  font-family: Verdana;
  font-size:22px;
  text-shadow: 1.5px -1px #ffffff;
}
body{
  background:#f8f9fa;
  background-color:#f8f9fa
  color: black;

}
